$margin: 1rem

$red: #E93F47
$grayPText: #676767
$websiteImageBorder: #F2F2F2
$overlayBack: #E8777C

$one_Five: 1.5s ease-out
$point_Three: 0.3s ease-out
$point_Five: 0.5s ease-out

$mainPageColor: white
// you need to resave all the sass files for this shit to update...
//change this and svgnumber mainPageColor const

//FONT
//din - titles
//din alt - ONLY IN OVERLAY- contact
//roboto - clean text to read, also in overlay?
//roboto mono - coding text
